html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        title Wikipedia Viewer
        link(href="css/style.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=EB+Garamond|Roboto|Oswald|Droid+Serif", rel="stylesheet")
        link(href="https://necolas.github.io/normalize.css/5.0.0/normalize.css", rel="stylesheet")
        link(href="https://raw.github.com/daneden/animate.css/master/animate.css", rel="stylesheet")
        
        
body
    #container.center
        #title.big Wikipedia Viewer
        form#buscador.hidden
            input(type="textarea", name="searchstring")
   
script(type='text/javascript' src='js/script.js')
    
    
    